body {
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 0rem;
    background-color: bisque;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*div {
    vertical-align: middle;
    padding: 30% 0 0 0;
}*/
div .head {
    position: absolute;
    vertical-align: middle;
    margin-top: 30%
}

input.input {
    height: 2rem;
    background-color: aliceblue;
    border-color: rgb(241, 211, 174);
    border: none;
    border-radius: 10px;
    margin-top: 30vh;
    margin-bottom: auto;

}

button.btn {
    height: 1.95rem;
    width: 5rem;
    border: none;
    border-radius: 11px;
    color: bisque;
    background-color: rgb(199, 135, 57);
    cursor: pointer;
    transition: all 0.3s ease;

}

div .fieldContainer {
    position: relative;
    text-align: center;

    
}

.wordCount {
    position: relative;
    font-size: 50px;
    color: bisque;
    background-color: rgb(199, 135, 57);
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    max-width: 50px;
    left: 50%;
    right: 50%;
    margin-left: auto;
    margin-right: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    transition: all 1s ease;
}