* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div {
    padding: 3rem;
    background: darkorchid;
    margin: 5px;
    border-radius: 8px;
    color: azure;
    font-size: medium;
    text-align: center;
}